<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <siteMap>
      <providers>
        <add name="NotLoginSiteMap" siteMapFile="Web.sitemap" type="System.Web.XmlSiteMapProvider" />
        <add name="LoginSuccess" siteMapFile="Web2.sitemap" type="System.Web.XmlSiteMapProvider" />
      </providers>
    </siteMap>
  </system.web>
  <connectionStrings>
    <add name="qlBanDongHo" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=QL_BanDongHo;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>